

.profile-picture {
  border-radius: 50%;
}
html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;

}

.wrapper {
  /*background-color: lightpink;*/
  
  max-width: 60%;
  display: flex;
  flex-direction: row;
  height: 80%;
}
.left, .right {
  
  /*background-color: lightblue;*/
  margin: 5px;
  max-width: 70%;
  /*flex: 1 1;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right{
  flex: 4 1 auto;
}
.left {
  flex: 2 1 auto;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
}
.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}
.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
  
}

.social-links a {
  text-decoration: none;
  padding: 4px;
  color: blue;

}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}